

.OpenApp{
    background-image: url("../../CarBackgroundPic/DarkOrangeWhite.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.LogoBox{
    border-bottom: 2px solid white;
}


.CompanyOnlyLogo{
    position: relative;
    top: 30px;
    width: 70px;
    height: 70px;
    background-color: black;
    background-image: url("../../CarBackgroundPic/KanishkaLogo.png");
    background-position: center;
    background-size: contain;
    border-radius: 25px;

}
.CompanyHeading{
    font-size: 25px;
}
.CompanyHeading > span{
    color: orangered;
}

.CompanyHeading > p{
    font-size: 13px;
}

.AppOption{
    margin-bottom: 40px;
    margin-left: 30px;
    color: black;
}

.AppOption > button{
    margin-right: 20px;
    cursor: pointer;
    background-color: orangered;
    width: 150px;
    height: 30px;
}
.AppOption > button:hover{
    background-color: rgba(135, 98, 255, 0.423);
}

/* ..........................................BUY................................... */


.Buy{
    position: relative;
    left: 40px;

}

.Buy > details > summary{
    border: 2px solid orangered;
    width: 50vw;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.392);
    line-height: 40px;
}

.Buy > details > ol{
    border: 2px solid orangered;
    width: 50vw;
    /* height: 40px; */
    background-color: rgba(0, 0, 0, 0.392);
    line-height: 40px;
    text-align: center;

}
.Buy > details > ol > li{
    background-color: rgba(0, 0, 0, 0.322);
    cursor: pointer;
    border: 1px solid black;
    margin-top: 30px;
}
.Buy > details > ol > li:hover{
    background-color: rgba(255, 68, 0, 0.508);
}






.CarInfo{
    position: relative;
    left: 50px;
    border: 1px solid orangered;
    width: 30vw;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.361);
    overflow-y: scroll;

}
.CarInfo > input{
    position:relative;
    top: 20px;
    border: 3px solid black;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid orangered;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    height: 25px;

}

input[type="file"]{
    display: none;
    
}
label{
    position: relative;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.436);
    border: 2px solid orangered;
    cursor: pointer;
    font-size: 20px;
}



























@media all and (max-width:552px) { 
    .AppOption > button{
        width: 27vw;
        height: 30px;
        font-size: 10px;
    }
    .AppOption{
        position: relative;
        bottom: 50px;
        text-align: center;
    }
    .CarInfo{
        position: relative;
        bottom: 50px;
        left: 80px;
        border: 3px solid orangered;
        width: 70vw;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.361);
        overflow-y: scroll;
    
    }
    .CarInfo > input{
        font-size: 20px;
    }
  
}

@media all and (max-width:311px) { 
    .AppOption > button{
        width: 23vw;
        height: 35px;
        font-size: 7px;
    }
}


@media all and (max-width:342px) { 
    .CarInfo{
        position: relative;
        bottom: 50px;
        left: 65px;
        border: 3px solid orangered;
        width: 70vw;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.361);
        overflow-y: scroll;
    
    }
}








